<!-- <div class="container" style=""> -->
<!-- <div class="panel-group"> -->
<div class="panel panel-default">
  <div class="panel-heading" style=" height: 40px;">
    <h4 class="panel-title" style="padding-top:13px;">
      <a (click)="onIcon()" data-toggle="collapse" href="#collapse1" style="font-size:medium;"
        style="color:rgb(102, 68, 224);">Order Products </a>
        <div class="btn-div" (click)="onIcon()">
      <a data-toggle="collapse" href="#collapse1" style="color:rgb(102, 68, 224);" *ngIf="showIcon"><i class="fa fa-chevron-circle-down"
          style="font-size: 16px;"></i></a>
      <a data-toggle="collapse" href="#collapse1" style="color:rgb(102, 68, 224);" *ngIf="!showIcon"><i class="fa fa-chevron-circle-up"
          style="font-size: 16px;"></i></a>
        <!-- <button mat-stroked-button color="primary" style="height: 32px;">Add Products</button>&nbsp;
            <button mat-stroked-button color="primary" style="height: 32px;"> New</button> -->
      </div>
    </h4>
  </div>
  <hr>
  <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body" style="padding-bottom: 15px;">

      <mat-card>
        {{errorMessage}}
        <!-- <span style="color:blue"><h4><i class="material-icons">dashboard</i>The order items of order {{ordernumber}}</h4></span> -->
        <!-- New part: this is the search box -->
        <!-- <mat-input-container>
                <input matInput placeholder="Search orders items" #orderiteminput style="border-bottom:1px solid blueviolet; margin-bottom :2rem;">
              </mat-input-container> -->

        <div class="spinner-container" *ngIf="dataSource.orderitemloading$ | async">
          <mat-spinner></mat-spinner>
        </div>

        <mat-table class="orders-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="ordernumber"
          matSortDirection="asc" matSortDisableClear>

          <!-- <ng-container matColumnDef="ordersitemsid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Item Id</mat-header-cell>
                    <mat-cell *matCellDef="let orderitem">{{orderitem.ordersitemsid}}</mat-cell>
                </ng-container> -->

          <ng-container matColumnDef="productname">
            <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let orderitem">{{orderitem.productName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderitem">{{orderitem.quantity}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="unitprice">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderitem">{{orderitem.unitPrice  |  currency:'USD' }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="totalprice">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderitem">{{orderitem.totalPrice  |  currency:'USD'}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 150]" [pageSize]="5" [length]="20" showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>

<!-- order usage -->

<div class="panel panel-default">
  <div class="panel-heading" style=" height: 40px;">
    <h4 class="panel-title" style="padding-top:13px;">
      <a (click)="onUsageIcon()" data-toggle="collapse" href="#collapse2" style="font-size:medium;"
        style="color:rgb(102, 68, 224);">Order Usage </a>
        <div class="btn-div" (click)="onUsageIcon()">
      <a data-toggle="collapse" href="#collapse2" style="color:rgb(102, 68, 224);" *ngIf="usageIcon"><i class="fa fa-chevron-circle-down"
          style="font-size: 16px;"></i></a>
      <a data-toggle="collapse" href="#collapse2" style="color:rgb(102, 68, 224);" *ngIf="!usageIcon"><i class="fa fa-chevron-circle-up"
          style="font-size: 16px;"></i></a>
      <!-- <div class="btn-div" style="float:right;">
            <button mat-stroked-button color="primary" style="height: 32px;">Add Products</button>&nbsp;
            <button mat-stroked-button color="primary" style="height: 32px;"> New</button>
          </div> -->
          </div>
    </h4>
  </div>
  <hr>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body" style="padding-bottom: 15px;">

      <mat-card>
        {{errorMessage}}
        <!-- <span style="color:blue"><h4><i class="material-icons">dashboard</i>The order items of order {{ordernumber}}</h4></span> -->
        <!-- New part: this is the search box -->
        <!-- <mat-input-container>
                <input matInput placeholder="Search orders items" #orderiteminput style="border-bottom:1px solid blueviolet; margin-bottom :2rem;">
              </mat-input-container> -->

        <div class="spinner-container" *ngIf="dataSource.orderitemloading$ | async">
          <mat-spinner></mat-spinner>
        </div>

        <mat-table class="mat-elevation-z8" [dataSource]="orderUsage" matSort matSortActive="ordernumber"
          matSortDirection="asc" matSortDisableClear>

          <!-- <ng-container matColumnDef="ordersitemsid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Item Id</mat-header-cell>
                    <mat-cell *matCellDef="let orderitem">{{orderitem.ordersitemsid}}</mat-cell>
                </ng-container> -->

          <ng-container matColumnDef="productname">
            <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let orderUsage">{{orderUsage.productName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="consumedquantity">
            <mat-header-cell *matHeaderCellDef>Consumed Qty</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderUsage">{{orderUsage.consumedQuantity}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="usageremainingquantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Usage Remaining Qty</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderUsage">{{orderUsage.usageRemainingQuantity}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="usageBalanceAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Usage Balance Amount</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderUsage">
              {{orderUsage.usageBalanceAmount  |  currency:'USD'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderUsage">{{orderUsage.startDate}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let orderUsage">{{orderUsage.endDate}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>

        </mat-table>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 150]" [pageSize]="5" [length]="20"
              showFirstLastButtons></mat-paginator> -->
      </mat-card>
    </div>
  </div>
</div>