<mat-card style="width: 20rem;">
    <h2>Create password</h2>
    {{resmessage}}
    <form [formGroup]="createPwdForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input type="password" matInput placeholder="New password" formControlName="password" required>
            <mat-error *ngIf="createPwdForm.hasError('required', 'password')">
                Please enter your newpassword
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmpassword"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="createPwdForm.hasError('notSame')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save password
            </button>
            <button type="button" *ngIf="enableloginbtn" class="btn btn-primary" [routerLink]="['/login']">Return
                login</button>
            <!--<a routerLink="/register" class="btn btn-link">Register</a>-->
        </div>
    </form>
</mat-card>