
<form class="form" [formGroup]="orderdetailsForm">      
    <mat-form-field class="full-width">
      <mat-label>Account Name</mat-label>
      <input formControlName="account"  type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Order Amount</mat-label>
      <input formControlName="orderamount"  type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Order Owner</mat-label>
      <input formControlName="owner" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Order Type</mat-label>
      <input formControlName="type" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>

    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Order Number</mat-label>
      <input formControlName="ordernumber" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <input formControlName="status" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Opportunity</mat-label>
      <input formControlName="opportunityname" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Shipping Address</mat-label>
      <input formControlName="shippingaddress" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>

    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Order Start Date</mat-label>
      <input formControlName="createddate" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Billing Address</mat-label>
      <input formControlName="billingaddress" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Created By</mat-label>
      <input formControlName="createdby" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Last Modified By</mat-label>
      <input formControlName="lastmodifieddate" type="tel" matInput>
      <!-- <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon> -->
    </mat-form-field>
    <br><br>

    <!-- <mat-form-field class="full-width" style="width: 89%;">
      <mat-label>Description</mat-label>
      <input matInput #message maxlength="256">
     <mat-icon matSuffix style = "color:#e6e6df">mode_edit</mat-icon>
    </mat-form-field>-->
    
  </form>
