   <div class="page-content-wrapper animated fadeInRight">
                <div class="page-content">
                    <div class="wrapper-content ">
                        <div class="row">
                            <!-- begin col-3 -->
                            <div class="col-md-3 col-sm-6">
                                <div class="widget widget-stats red-bg" *ngFor="let wonopportunity of wonOpportunities">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                    <div class="stats-title">Won Opportunities <span
                                            class="oppcount">({{wonopportunity.label}})</span></div>
                                    <div class="stats-number">{{wonopportunity.value | currency:'USD'}}</div>
                                    <!-- <div class="stats-progress progress">
                                        <div [style.width.%]="wonopportunity.label" class="progress-bar"></div>
                                    </div>
                                    <div class="stats-desc">Better than last week ({{wonopportunity.label}}%)</div> -->
                                </div>
                            </div>
                            <!-- end col-3 -->
                            <!-- begin col-3 -->
                            <div class="col-md-3 col-sm-6 mtop15">
                                <div class="widget widget-stats blue-bg"
                                    *ngFor="let closingOpportunity of closingOpportunities">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                                    <div class="stats-title">Opportunities nearing close date <span
                                            class="oppcount">({{closingOpportunity.label}})</span>
                                    </div>
                                    <div class="stats-number">{{closingOpportunity.value | currency:'USD'}}</div>
                                    <!-- <div class="stats-progress progress">
                                        <div style="width: 40.5%;" class="progress-bar"></div>
                                    </div>
                                    <div class="stats-desc">Better than last week (40.5%)</div> -->
                                </div>
                            </div>
                            <!-- end col-3 -->
                            <!-- begin col-3 -->
                            <div class="col-md-3 col-sm-6 mtop15">
                                <div class="widget widget-stats purple-bg"
                                    *ngFor="let pipelinedOpportunity of pipelinedOpportunities">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i>
                                    </div>
                                    <div class="stats-title">Pipelined Opportunities <span
                                            class="oppcount">({{pipelinedOpportunity.label}})</span></div>
                                    <div class="stats-number">{{pipelinedOpportunity.value | currency:'USD'}}</div>
                                    <!-- <div class="stats-progress progress">
                                        <div style="width: 76.3%;" class="progress-bar"></div>
                                    </div>
                                    <div class="stats-desc">Better than last week (76.3%)</div> -->
                                </div>
                            </div>
                            <!-- end col-3 -->
                            <!-- begin col-3 -->
                            <div class="col-md-3 col-sm-6 mtop15">
                                <div class="widget widget-stats black-bg"
                                    *ngFor="let lostOpportunity of lostOpportunities">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                                    <div class="stats-title">Lost Opportunities <span
                                            class="oppcount">({{lostOpportunity.label}})</span></div>
                                    <div class="stats-number">{{lostOpportunity.value | currency:'USD'}}</div>
                                    <!-- <div class="stats-progress progress">
                                        <div style="width: 54.9%;" class="progress-bar"></div>
                                    </div>
                                    <div class="stats-desc">Better than last week (54.9%)</div> -->
                                </div>
                            </div>
                            <!-- end col-3 -->
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div style="display: flex">
                    <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
                    </fusioncharts>
                    <fusioncharts width="500" height="300" type="pie2d" style="margin-left:3rem"
                        [dataSource]=chartdataSource>
                    </fusioncharts>
                </div>
                <div class="col-sm-3">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">9,888</h2>
                            <small>Total orders in Jan</small>
                            <div class="stat-percent">58% <i class="fa fa-level-up text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div class="progress-bar" style="width: 58%;"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins">7,666</h2>
                            <small>Total orders in Dec</small>
                            <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div class="progress-bar" style="width: 48%;"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins ">4,422</h2>
                            <small>Orders in Nov</small>
                            <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div class="progress-bar" style="width: 60%;"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins ">9,180</h2>
                            <small>Monthly income from orders</small>
                            <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div class="progress-bar" style="width: 22%;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>