<div mat-dialog-content>
    <p>Please enter the role name to add</p>
    <mat-form-field>
        <mat-label>Role name</mat-label>
        <input matInput [(ngModel)]="data.roleName">
    </mat-form-field>
    <mat-form-field hidden="true">
        <input matInput [(ngModel)]="data.parentId">
    </mat-form-field>
</div>
<div mat-dialog-actions style="float:right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>