<div mat-dialog-content>
    <p>Are you sure do you want to delete this {{data.roleName}} role?</p>

    <mat-form-field hidden="true">
        <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field hidden="true">
        <input matInput [(ngModel)]="data.roleName">
    </mat-form-field>
</div>
<div mat-dialog-actions style="float:right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
</div>