<mat-card-header>
  <div style="display: flex;">
    <div>
      <mat-card-subtitle>Account</mat-card-subtitle>
      <mat-card-title>{{accountName}}</mat-card-title>
    </div>
    <div>
      <label class="progresslabel mat-card-subtitle">Contract duration: Remaining days to renew account
        {{contractremainingDays}}</label>
      <!-- <progress class="mat-progress-bar" value="{{contractduration}}"></progress> -->
      <mat-progress-bar mode="determinate" [color]="changeColor" value="{{contractduration}}">
      </mat-progress-bar>
    </div>
  </div>
</mat-card-header>

<hr>
<mat-card-content>
  <div class="row">
    <div class="col">
      <label>Type</label>
      <p>{{accountRecordType}}</p>
    </div>
    <div class="col">
      <label>Phone</label>
      <p>{{phone}}</p>
    </div>
    <div class="col">
      <label>Website</label>
      <p> {{website}}</p>
    </div>
    <div class="col">
      <label>Account Owner</label>
      <p>{{accountOwner}}</p>
    </div>
    <div class="col">
      <label>Industry</label>
      <p>{{industry}}</p>
    </div>
  </div>
</mat-card-content>