<span style="font-size: 1.5rem;">Add Touch Point</span>
<button style="float:right" class="close" mat-raised-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<br><br>
<div class="example-container"><br>
    <mat-label>Account Name:</mat-label>
    <span style="color: blue;"> {{account.accountName}}</span>
    <mat-label style="margin-left: 2rem;">Annual Revenue:</mat-label>
    <span style="color: blue;"> $ {{account.annualRevenue  | currency:'USD'}}</span>
    <br>
    <br>
    <mat-label>TouchPoint Type:</mat-label>
    <mat-form-field style="width:50%">
        <mat-select [(ngModel)]="selectedttype" name="selectedttype">
            <mat-option *ngFor="let ttype of touchType" [value]="ttype.value" (onSelectionChange)="changeSuccessFlow(ttype)">
                {{ttype.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left:20px">
        <mat-label>TouchPoint Date</mat-label>
        <input matInput [(ngModel)]="ttdate" [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <ngx-text-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent">
    </ngx-text-editor>
    <br>
    <mat-label>participants:</mat-label>
    <mat-form-field style="width:100%">
        <mat-select [(ngModel)]="participantsList" multiple>
            <mat-option *ngFor="let participant of participants" [value]="participant.value">
                {{participant.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <div>
            <mat-label>Success Flow:</mat-label>
            <mat-form-field style="width:100%">
                <mat-select [(ngModel)]="singleSuccessFlow" name="singleSuccessFlow">
                    <mat-option *ngFor="let flow of successFlow" [value]="flow.value">
                        {{flow.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    <mat-form-field style="width:100%">
        <mat-label>TouchPoint Subject</mat-label>
        <input matInput [(ngModel)]="ttSubject">
    </mat-form-field>
    <br>
    <!-- <ngx-text-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent">
        </ngx-text-editor> -->
    <br>
    <input type="file" #file style="display: none" (change)="onFilesAdded()" accept=".csv" />
    <button mat-raised-button color="primary" (click)="addFiles()">
        <span class="material-icons">
            attachment
        </span> Add Attachment
    </button> <span style="float: right;">
        <span class="success"> {{resMessage}}</span>
        <button mat-raised-button color="secondary" (click)="closeDialog()">Close</button>
        <button style="margin-left: 15px;" mat-raised-button color="primary"
            (click)="createTouchPoint()">Submit</button><br><br>
    </span>
</div>