<mat-card>
    {{errorMessage}}
    <!-- <span style="color:blue"><h4><i class="material-icons">dashboard</i>The related products of opportunity {{ordernumber}}</h4></span> -->
    <br/>
    <br/>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    
    <mat-table class="orders-table mat-elevation-z8" [dataSource]="dataSource"
    matSort matSortActive="productname" matSortDirection="asc" matSortDisableClear>
    
    <!-- <ng-container matColumnDef="productcode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.productcode}}</mat-cell>
  </ng-container> -->

      <ng-container matColumnDef="productname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let product">{{product.productname}}</mat-cell>
      </ng-container>
    
      <!-- <ng-container matColumnDef="listprice">
          <mat-header-cell *matHeaderCellDef>List Price</mat-header-cell>
          <mat-cell class="description-cell"
                    *matCellDef="let product">{{product.listprice}}</mat-cell>
      </ng-container> -->
    
      <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell class="duration-cell"
                    *matCellDef="let product">{{product.quantity}}</mat-cell>
      </ng-container>
    
    <ng-container matColumnDef="salesprice">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Sales Price</mat-header-cell>
          <mat-cell class="duration-cell"
                    *matCellDef="let product">{{product.salesprice  |  currency:'USD' }}</mat-cell>
      </ng-container>
    
    <ng-container matColumnDef="totalprice">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Total Price</mat-header-cell>
          <mat-cell class="duration-cell"
                    *matCellDef="let product">{{product.totalprice}}</mat-cell>
      </ng-container>    
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 150]" [pageSize]="5" [length]="20" showFirstLastButtons></mat-paginator>
    
    </mat-card>